{% load crispy_forms_tags %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Add New SIM</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form hx-post="{% url 'add-simcard' %}" hx-target="#tbody" hx-swap="afterbegin"
                    _="on htmx:afterRequest reset() me">
                    <!-- {{ simform | crispy }} -->
                    
                    <div class="row">
                        <div class="form-group col-6 mb-0">
                            {{ simform.lot|as_crispy_field }}
                          </div>
                          <div class="form-group col-6 mb-0">
                            {{ simform.status|as_crispy_field }}
                          </div>
                    </div>
                    {{ simform.imsi|as_crispy_field }}
                    {{ simform.number|as_crispy_field }}
                    {{ simform.in_stock|as_crispy_field }}
                    {{ simform.comment|as_crispy_field }}
                    <button type="submit" class="btn app-btn-primary w-100">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>