<div class="page-utilities">
    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
        <div class="col-auto">
            <form class="table-search-form row gx-1 align-items-center">
                <div class="col-auto">
                    <input type="search" id="search-orders" name="search" class="form-control search-orders"
                        placeholder="Search" hx-get="{% url 'device-results' %}"
                        hx-trigger="keyup changed delay:500ms, search" hx-target="#tbody" hx-swap="innerHTML" style="padding: 18px;">
                </div>
            </form>

        </div><!--//col-->
        <div class="col-auto">
            <a class="btn app-btn-secondary">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                    <path fill-rule="evenodd"
                        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                </svg>
                CSV
            </a>
        </div>
        <div class="col-auto">
            <a class="btn app-btn-secondary" data-bs-toggle="modal" data-bs-target="#addDeviceModal">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add Asset
            </a>
        </div>
    </div><!--//row-->
</div>